  <div class="library-music m-4">
    
    <app-section-generic 
    [mode]="'carrousel'"
    [dataMusic]="dataMusicListTrending"
    [title]="'Aqui puedes observar los ultimos exitos'">
    </app-section-generic>
    
    <app-section-generic 
    [mode]="'cards'"
    [dataMusic]="dataMusicListRandom"
    [title]="'Todas las canciones disponibles'">
    </app-section-generic>

  </div>

  <div class="my-20"></div>

