
    <mat-card class="my-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{data?.name | uppercase}}</mat-card-title>
          <mat-card-subtitle *ngFor="let type of data?.types" >{{type}}</mat-card-subtitle>
      </mat-card-header>
    
      <img mat-card-image [src]="data?.imgUrl" alt="Fotografia de pokemon">
    
      <mat-card-content class="mt-4">

        <mat-chip-list aria-label="Fish selection" >
          <mat-chip  *ngFor="let ability of data?.abilities" color="accent" selected>{{ability}} </mat-chip>
        </mat-chip-list>
    
        <div *ngIf="data?.stats as stats" class="p-3 text-left"> 
          <p class="stats" *ngFor="let stat of stats"> <b>{{stat?.name}}</b> : {{stat.power}}</p>
        </div>

      </mat-card-content>
    
      <mat-card-actions >
        <div class="flex justify-center flex-col items-center" >
          <button mat-button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon> 
          </button>
          <p class="option" >Me gusta</p>
        </div>

        <div class="flex justify-center flex-col items-center">

          <button mat-button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
          <p class="option" >Compartir</p>
          
        </div>

      </mat-card-actions>
    </mat-card>

