
mat-grid-tile {
  background: rgb(39, 39, 201);
  
}
.my-card {
  background: lavender;
  font-size: 15px;
  width: 250px;
  height: auto;
} 

.example-header-image {
  
  background-image: url('https://image.flaticon.com/icons/png/512/914/914726.png');
  background-size: cover;
}
::ng-deep.mat-card-title.mat-card-title {
  font-size: 1rem;
  margin-bottom: 0 !important;
}

.mat-card-image{
  margin: 0;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: scale-down;
}
::ng-deep.mat-card-subtitle.mat-card-subtitle.ng-star-inserted {
    display: inline;
    margin: 5px;
}
::ng-deep.mat-chip-list-wrapper {
  justify-content: center;

}
::ng-deep.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
  font-size: 0.7rem;
}

.my-card .stats{
  font-size: 0.7rem;
  line-height: 0.2;
}

::ng-deep.mat-card-content.mat-card-content {
margin-bottom: 0 !important;
}
::ng-deep.mat-card-actions.mat-card-actions{
  padding: 0;
  margin: 0 !important;
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
}

.option{
  margin: 0!important;
}