.card-big{
  width: 250px;
  height: 450px;
}
.card-big .card-content{
  height: 100%;
}

.card-big .card-img{
  height: 60%;
  width: 100%;
}

.card-big .card-img img{
  height:100%;
  width: 100%;
}

.carrousel-card{
  width: 250px;
  height: 450px;
}
