


<div *ngIf="mode=='carrousel'" class="m-5" >
    
    <div class="max-w-sm rounded-lg shadow-md shadow-sky-600 carrousel-card">
      <img appImgBroken [customImg]="'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png'" [src]="track.cover" [alt]="track.name" class="cover rounded">
      <div class="px-6 pt-4 flex flex-col  ">
          <h4 class="mb-3 text-xl font-semibold tracking-tight text-sky-600">Christmas Tree Decoration</h4>
          <p class="mb-2 leading-normal text-sky-900">{{track.name}}</p>
          <button (click)="sendPlay(track)" class="px-4 py-2 text-sm shadow bg-sky-100 shadow-sky-600 text-sky-700 hover:bg-sky-600 hover:text-sky-100"><mat-icon>play_arrow</mat-icon></button>
      </div>
    </div>


</div>

<div *ngIf="mode=='cards'" class="card-big mx-auto " >
  <div class="bg-gray-900 shadow-lg rounded p-3 card-content">

    <div class="group relative card-img">
      <img class="w-full md:w-72 block rounded" appImgBroken [customImg]="'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png'"  [src]="track.cover" [alt]="track.name" >

      <div class="absolute bg-black rounded bg-opacity-0 group-hover:bg-opacity-60 w-full h-full top-0 flex items-center group-hover:opacity-100 transition justify-evenly">

        <button (click)="sendPlay(track)" *ngIf="true"  class="hover:scale-110 text-white opacity-0 transform translate-y-3 group-hover:translate-y-0 group-hover:opacity-100 transition">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
          </svg>
        </button>

      </div>

      <button *ngIf="false" class="play-btn">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>

    <div class="p-5 card-contain" >
      <h3 class="text-white text-lg">{{track.name}}</h3>
      <p class="text-gray-400">{{track.album}}</p>
    </div>

  </div>

</div>
