<app-card [data]="card" class="my-card"></app-card>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cerrar</button>
    <!-- <button class="mat-raised-button" (click)="addFavorites()">Añadir a mis favoritos</button> -->
</mat-dialog-actions>