.play-list-body {
  padding: 1rem 2rem;
}

.play-list-table-header {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin: 0;
  padding: 0;
  font-size: 90%;
  letter-spacing: 1px;
  border-bottom: solid 1px var(--color-2);
  padding-bottom: .5rem;
}

.play-list-table-header li {
  text-transform: uppercase;
  color: var(--color-4);
  opacity: .7;
}

.play-list-rows {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 1rem 0 0 0;
}

.play-list-rows .track-name-opacity {
  opacity: .7;
  font-weight: 300;
}

.cover-section {
  display: flex;
  padding: 0
}

.cover-section .cover-track {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.cover-section .cover-info {
  padding: 0 1rem;
}

.cover-section .cover-info .name-track-details {
  font-size: 80%;
  opacity: .7;
}