<div class="play-list-body">
  <ul class="play-list-table-header">
      <li (click)="changeSort('name')"  class="text-black">Nombre ❤</li>
      <li (click)="changeSort('album')" class="text-black">álbum 🆗</li>
  </ul>
  <ul class="play-list-rows" *ngFor="let cancion of canciones |orderList:optionSort.property:optionSort.order">
      <li class="track-name">
          <ng-container *ngTemplateOutlet="coverSection;context:{cancion}"></ng-container>
      </li>
      <li class="track-name-opacity">
          {{cancion.album}}
      </li>

  </ul>
</div>

<!--template del cover-->
<ng-template #coverSection let-cancion="cancion">

  <div class="cover-section">
      <img appImgBroken class="cover-track" [src]="cancion.cover" [alt]="cancion.name">
      <div class="cover-info">
          <div class="name-track">{{cancion.name}}</div>
          <div class="name-track-details">{{cancion.artist.name}}</div>
      </div>
  </div>

</ng-template>