
<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Buscar</mat-label>

  <input matInput type="text" [(ngModel)]="value" (ngModelChange)="callSearch()">

  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>

</mat-form-field>
