
<nav class="menu_left bg-white">
  <ul>
    <li [routerLink]="item.router"
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{exact:true}"
        [queryParams]="item.query"
        class="transition-all hover:bg-indigo-100 transform hover:scale-110 cursor-pointer "
        *ngFor="let item of mainMenu.defaultOptions">
        <a >
          <mat-icon>{{item.icon}}</mat-icon>{{item.name}}
        </a>

    </li>

  </ul>
</nav>




