 
nav.menu_left {
  width: 150px;
  position:fixed;
  margin: 0 10px;
}


nav.menu_left ul > li {
  padding: 0 0 0 10px;
}
nav.menu_left ul > li > a {
  width: 100%;
  display:flex;
  align-items: center;
  
}
nav.menu_left ul > li > a > mat-icon{
  margin: 10px;
} 

nav.menu_left ul > li.seleccionado{
  background-color: #fde68a;
  
}
nav.menu_left ul > li.seleccionado >a > mat-icon , nav.menu_left ul > li.seleccionado >a {
  
color: #881337;
}

nav.menu_left ul > li > a {
  text-decoration: none;
}

