<div class="login-auth-page flex items-center justify-center">
  <div class="login-auth-wrapper  ">

      <h3 class="text-center p-2">Por favor autenticate para entrar.</h3>

      <!-- <div class="login-social-zone flex flex-col">

          <button mat-stroked-button class="bg-blue-500"><mat-icon>insert_emoticon</mat-icon> Continuar con Social</button>
          <button mat-stroked-button class="bg-slate-800"><mat-icon>insert_emoticon</mat-icon> Continuar con Apple</button>
          <button mat-stroked-button class=""><mat-icon>insert_emoticon</mat-icon> Continuar con Google</button>

      </div> -->

      <div class="separator"></div>

      <form (ngSubmit)="sendLogin()" [formGroup]="formLogin" class="login-auth-form flex flex-col">


          <mat-form-field class="mb-3" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" required>
            <mat-hint  *ngIf="!formLogin.value.email">Ingrese su Email</mat-hint>
            

            <mat-error *ngIf="formLogin.controls['email'].hasError('email') && !formLogin.controls['email'].hasError('required')">
              Please enter a valid email address
            </mat-error>

            <mat-error *ngIf="formLogin.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>

          </mat-form-field>


          <mat-form-field class="mb-5" appearance="fill">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            <mat-hint *ngIf="!formLogin.value.password">Ingrese su contraseña</mat-hint>
            <mat-error *ngIf="formLogin.controls['password'].hasError('required')">
                password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class="form-steps">
              <p>Para ingresar a la aplicacion utilizar los siguientes datos </p>
              <p> <strong>email:</strong>  usuario1@correo.com</p>
              <p> <strong>contraseña:</strong>  123456</p>
          </div>

          <div *ngIf="errorSession" class="errorSession">
              Ocurrio un error con tu email o password
          </div>

          <div class="form-action text-center ">
              <button  mat-stroked-button [disabled]="formLogin.invalid" class="login">Iniciar sesión</button>
          </div>

      </form>

  </div>
</div>