 .login-auth-page {
   width: 100vw;
  height: 100vh; 
  background-color: var(--color-4);
  color: var(--color-3);
}
.login-auth-page .login-auth-wrapper{
  width: 350px;  
}
.login-social-zone > button{
  margin:10px 0;
  padding: 5px;
  border: solid 1px var(--color-4);
  box-shadow: 10px 5px 20px #888888;
  color: var(--color-4);
}

.login-social-zone > button:last-child{
  color: black;
}



.login-auth-page .separator {
  width: 100%;
  margin: 2rem 0;
  border-bottom: solid 1px var(--color-2);
  opacity: .2;
}


.login-auth-page .login-auth-form .form-steps {
  padding: .5rem 0;
}

.login-auth-page .login-auth-form .form-steps .link {
  color: var(--color-2);
  font-size: 85%;
  font-weight: 500;
  text-decoration: underline;
}



.login-auth-page .login-auth-form .form-action .login {
  color: var(--color-4);
  margin: 1rem 0;
  background-color: var(--color-1);
  width: 100%;
  padding: 10px;
}


.errorSession{
  color: red;
  font-size: 1rem;
} 

