.grid-container{
  margin: 10px;
  text-align: center;
}

/* tipografia */
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

