
<h2 class="text-center pt-3 ">{{tituloPagina | uppercase}}</h2>
<h3 class="text-center "> Conoce a mis pokemons favoritos</h3>
<!-- cards de los pokemons favoritos -->
<div class="grid-container grid sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 p-5 gap-8">  

  <app-card class="transition-transform transform hover:scale-110 mx-auto" *ngFor="let card of cards"  [data]="card"></app-card>

</div>  

<!-- lista total de pokemons -->
<h3 class="text-center p-5">La lista completa de pokemons </h3>
<div class="grid-container mx-auto p-5 ">
  <app-list></app-list>
</div>

<div class="my-20"></div>