
<mat-sidenav-container>
  <mat-sidenav 
      #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="menu">Menu</mat-toolbar>

    <mat-nav-list class="nav-left ">
      <app-nav></app-nav>
    </mat-nav-list>    

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Single Page Aplication VIU</span>
    </mat-toolbar>

    <router-outlet name="child"></router-outlet> 

  </mat-sidenav-content>

</mat-sidenav-container>

<app-mediaplayer></app-mediaplayer>