img{
  max-width: 50%;
}

form{
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #ccc;
}
form>input{
  margin: 10px;
  border: 1px solid #ccc;
}

button, label{
  width: 100px;
  margin: 0 auto;
}

table{
  margin: auto;
  text-align: center;
  width: 100%;
}

.mat-header-cell{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: blueviolet;
}
::ng-deep.mat-sort-header-container {
  justify-content: center;
}


.mat-row:hover{
  background-color: rgba(137, 43, 226, 0.2);
 box-shadow: inset 0px 6px 0px 0px rgba(137, 43, 226, 0.5), 
             inset 0px -9px 0px 0px rgba(137, 43, 226, 0.5);

}


::ng-deep.mat-paginator-container{
background-color: lavender;
}

::ng-deep.mat-form-field-label{
    color: blueviolet;
}
::ng-deep.mat-form-field-underline{
    background-color: blueviolet;
}
::ng-deep.mat-form-field-ripple{
    background-color: blueviolet;
}