  <mat-form-field appearance="standard">
    <mat-label >Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="ejemplo: pikachu" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

     
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef >Pokemon</th>
        <td mat-cell *matCellDef="let row" width="100" height="100"> 
          <img src="{{row.imgUrl}}"  alt="" class="mx-auto">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row" class=" first-letter:uppercase"> {{row.name}} </td>
      </ng-container>

    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)" class="transition-all transform hover:scale-y-110 cursor-pointer odd:bg-white even:bg-slate-100 "></tr>

      <tr class="mat-row " *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>


  
