<!-- <div class="section-generic">

  <h2 class="section-generic__title">{{title}}</h2>  -->

  <!-- <div [ngClass]="{'card-small':mode == 'small','card-big':mode =='big' }" >  todo: puedo pasa un array con clases,  o condicionales  -->
    <!-- <div *ngFor="let player of dataMusic" >
      <app-card-player [mode]="mode" [track]="player"></app-card-player>
    </div> -->
<!-- 
  </div> -->
<!-- 
</div> -->
  
<section *ngIf="mode=='carrousel'" class="p-5">
  <h2 class="text-center text-lg lg:text-4xl">{{title}}</h2>  
  <!-- <div>{{dataMusic | json}}</div> -->

  <owl-carousel-o [options]="customOptions">
    <ng-template *ngFor="let songs of dataMusic" carouselSlide>
      <app-card-player [mode]="mode" [track]="songs"></app-card-player>
    </ng-template>    

  </owl-carousel-o>

</section>

<section *ngIf="mode=='cards'">
  <h2 class="text-center text-lg lg:text-4xl">{{title}}</h2>  
  <div class="section-generic__content grid-container grid sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 p-5 gap-8">
    <div *ngFor="let player of dataMusic" >
      <app-card-player [mode]="mode" [track]="player"></app-card-player>
    </div>
  </div>
</section>