<div class="searcher">
  <!-- el padre recibe del hijo el callBackData  y utiliza una funcion para recibir -->
  <app-search (callBackData)="recibirData($event)"></app-search>  
</div>
 <!-- el padre envia al hijo las listResults -->
<app-play-list-body [canciones]="listResults$ |async"></app-play-list-body>
<div class="my-20"></div>