

<section class="videos">
  <h1 class="text-center mt-5 ">Bienvenidos a mi biblioteca de videos</h1>

  <div class="lg:grid lg:grid-cols-3 lg:grid-rows-2 m-5 gap-5  ">
    
    <div class="videoPlayer lg:col-span-2 ">

      <vg-player (onPlayerReady)="videoPlayerInit($event)">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        
        <vg-controls>
        
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>

        </vg-controls>
        

        <video #media [vgMedia]="$any(media)" [src]="currentVideo.src" id="singleVideo" preload="auto" crossorigin>
          
        </video>
        
      </vg-player>
    
    </div>
    
    <div class="video-list lg:row-span-2 lg:col-span-1 ">
     
      <ul class="player-list">
        <li *ngFor="let vdo of videoItems; let $index = index"
          (click)="startPlaylistVdo(vdo, $index)" [class.selected]="vdo === currentVideo">
         
          
          <div class="player-list-item flex gap-4">
        
            <figure class="relative">
              <img [src]="vdo.poster" alt="">
              <figcaption [class.selected]="vdo === currentVideo" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <p>playing is now</p>
              </figcaption>
            </figure>

            <div>
             <h4> <strong>{{ vdo.name }} </strong></h4> 
             <p class="mb-0 opacity-70"> {{vdo.autor}}</p>  
             <p class="opacity-70">{{vdo.views}} Vizualizaciones</p>   
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div class="video-footer lg:col-span-2 ml-5">

      <div  *ngFor="let vdo of videoItems">
        <ng-container *ngIf="vdo === currentVideo; "> <!--else noVideo-->
            <h2 class="text-2xl font-bold">{{vdo.name}}</h2>
            <p class="text-sm m-0">{{vdo.autor}}</p>
            <p class="text-sm m-0">{{vdo.views}} Vizualizaciones</p>  
        </ng-container>
      </div>
      
      <!-- <ng-template #noVideo>
        No existe nigun video 
      </ng-template> -->

    </div>

  </div> 



</section>

