
.videoPlayer{
  margin-top: 10px;
}

.player-list li {
 list-style: none;
 display: block;
 cursor: pointer;
 margin-bottom: 1px;
 margin: 10px auto;
}

li.selected .player-list-item > figure img {
  opacity: 0.5;
}

.player-list-item figure figcaption{
  display: none;
}
.player-list-item figure figcaption.selected{
  display: block;
}

.player-list-item > figure img{
  max-width: 200px;
}


.video-footer .selected{
  background-color: red;
}