<div class="media-player">
  <div class="media-player--wrapper ">
      <!--Zona del artista-->
      <div class="artist player-center">
          <ng-container *ngTemplateOutlet="artistZone"></ng-container>
      </div>
      <!--Zona del reproductor-->
      <div class="player-controls player-center">
          <ng-container *ngTemplateOutlet="playerZone"></ng-container>
      </div>
      <!--Zona del controles adicionales-->
      <div class="player-audio player-center">
          <ng-container *ngTemplateOutlet="playerAudio"></ng-container>
      </div>
  </div>
</div>

<!-- ZONE TEMPLATES -->

<ng-template #artistZone>

  <div class="artist-inside" *ngIf="multimediaService.musicInfo$ | async as mockCover  ">

      <img [src]="mockCover.cover " alt="" class="cover">
      <div class="track-info">
          <h3 class="track-title">{{mockCover.name}}</h3>
          <h5 class="track-title sub-title">{{mockCover.album}}</h5>
      </div>
      <div class="track-like">
          <button class="btn-like">
              <i class="uil uil-heart"></i>
          </button>
      </div>
  </div>
</ng-template>

<ng-template #playerZone>
  <div class="player-controls-inside">
      <div class="buttons-media">
          <!-- <button class="arrow btn">
              <mat-icon>skip_previous</mat-icon>
          </button> -->
          <button (click)="multimediaService.togglePlayer()" class="play btn">

              <mat-icon *ngIf="state==='playing';else elseBlock">pause</mat-icon>
              <ng-template #elseBlock> <mat-icon >play_arrow</mat-icon> </ng-template>

          </button>
<!-- 
          <button class="arrow btn">
            <mat-icon>skip_next</mat-icon>
          </button> -->

      </div>
      <div class="media-linetime">

          <div class="time">{{multimediaService.timeElapsed$ | async}}</div>

          <span #progressBar (click)="handlePosition($event)" class="time-progress">
              <span class="time-progress-live" [style.width]="(multimediaService.playedPercentage$ | async)+'%'">
              </span>
          </span>

          <div class="time">{{multimediaService.timeRemain$ | async}}</div>
      </div>
  </div>
</ng-template> 

<ng-template #playerAudio>
  <div class="player-audio-inside">
      <!-- <button class="btn-media">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button class="btn-media">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button class="btn-media">
        <mat-icon>volume_off</mat-icon>
      </button> -->
  </div>
</ng-template> 