<div class="py-4 px-8 flex flex-row">
    <div class="basis-1/3 bg-gray-900 flex items-center justify-center drop-shadow-2xl shadow-inner ">
        <mat-icon class="text-slate-50 heart">favorite_border</mat-icon>
    </div>
    <div class="flex justify-center flex-col basis-2/3 px-5 lg:p-5">
        <div class="text-lg">Playlist</div>
        <h3 class="py-3 m-0 text-2xl md:text-4xl lg:text-6xl text-center title">Canciones que te gustan</h3>
        <p class="">Jonny Gustavo pilco Quihuiri<strong class=""> 206 canciones</strong> </p>
    </div>
</div>